<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>BookStore</title>
  </head>
  <body>
    <header>
      <div class="container header">
        <div>
          <a href="/">BookStore</a>
        </div>
        <div>
          <a href="/books/new" class="create">Create Book</a>
        </div>
      </div>
    </header>
    <main class="container">
      <div class="main">
        <h1>Welcome to BookStore</h1>
        <div class="store">
          <a href="/books">Goto Store</a>
        </div>


      </div>
     
    </main>
  </body>
</html>
